{% include 'adminheader.html' %}


   <!-- banner -->
	      <section class="banner_main" style="height: 200px">
	         <div class="container-fluid">
	            <div class="row d_flex">
	               <div class="col-md-7">
	                  <div class="text-bg">
	                     <div class="padding_lert">



	                     </div>
	                  </div>
	               </div>
	               <div class="col-md-5 bah">
	                  <div class="bann_img">
	                    
	                  </div>
	               </div>
	            </div>
	         </div>
	      </section>
	      <!-- end banner -->

	      <center>
<h1>view Request</h1>
<br>

<br>
<table class="table" style="width: 500px">


    <tr>
        <td><a class="btn btn-success" href="viewdetection">Detection</a></td>
    </tr>

</table>

</center>

{% include 'footer.html' %}